<div class="master-slider-wrapper">
            <!-- #masterslider start -->
            <div id="mastersliderFullWidth03" class="master-slider ms-skin-default mb-0">

                <!-- FIRST SLIDE -->
                <div class="ms-slide" data-delay="6">
                    <img src="/images/ms/blank.gif" data-src="/images/testslide.jpg" alt="ConsultingPress IT Security Consulting"/>

                    <h2 class="ms-layer pi-caption-02" 
                        style="
                        left: 0px;
                        top:  210px;" 
                        data-type="text" 
                        data-effect="left(short)" 
                        data-duration="500" 
                        data-hide-effect="fade" 
                        data-delay="0">
                        Unparalleled Expertise
                    </h2>

                    <h2 class="ms-layer pi-caption-02" 
                        style="
                        left: 0;
                        top:  260px;" 
                        data-type="text" 
                        data-effect="left(short)" 
                        data-duration="500" 
                        data-hide-effect="fade" 
                        data-delay="500">
                        In Identity &amp; Access Management
                    </h2>

                    <p class="ms-layer pi-text" 
                       style="
                       left: 0;
                       top:  330px;" 
                       data-type="text" 
                       data-effect="left(short)" 
                       data-duration="500" 
                       data-hide-effect="fade" 
                       data-delay="1000">
                        BYOD, Cloud Connectivity, IAG, Governance, GDPR - our clients succeed in all areas!
                    </p>

                    <img class="ms-layer pi-link-arrow" src="/images/ms/blank.gif" data-src="/images/slider/circle-icon-blue.svg" alt="" 
                         style="
                         left: 0; 
                         top: 390px;" 
                         data-type="image" 
                         data-effect="left(short)" 
                         data-duration="500" 
                         data-hide-effect="fade" 
                         data-delay="1500"/>

                    <span class="ms-layer pi-link-dark" 
                          style="
                          left: 55px; 
                          top: 390px;" 
                          data-type="text" 
                          data-effect="left(short)" 
                          data-duration="500" 
                          data-hide-effect="fade" 
                          data-delay="1500">
                        Learn more
                    </span>

                    <a ui-sref="services"></a>
                </div><!-- FIRST SLIDE END -->

                <!-- SECOND SLIDE 
                <div class="ms-slide" data-delay="6">
                    <img src="/images/ms/blank.gif" data-src="/images/testslide2.jpg" alt="ConsultingPress IT Security Consulting"/>

                    <h2 class="ms-layer pi-caption-02" 
                        style="
                        left: 0;
                        top:  210px;" 
                        data-type="text" 
                        data-effect="left(short)" 
                        data-duration="500" 
                        data-hide-effect="fade" 
                        data-delay="0">
                        ConsultingPress 
                    </h2>

                    <h2 class="ms-layer pi-caption-02" 
                        style="
                        left: 0;
                        top:  260px;" 
                        data-type="text" 
                        data-effect="left(short)" 
                        data-duration="500" 
                        data-hide-effect="fade" 
                        data-delay="500">
                        Your Path to IT Security
                    </h2>

                    <p class="ms-layer pi-text" 
                       style="
                       left: 0;
                       top:  330px;" 
                       data-type="text" 
                       data-effect="left(short)" 
                       data-duration="500" 
                       data-hide-effect="fade" 
                       data-delay="1000">
                        Get professional guidance from IT security experts.
                    </p>

                    <img class="ms-layer pi-link-arrow" src="/images/ms/blank.gif" data-src="/images/slider/circle-icon-blue.svg" alt="" 
                         style="
                         left: 0; 
                         top: 390px;" 
                         data-type="image" 
                         data-effect="left(short)" 
                         data-duration="500" 
                         data-hide-effect="fade" 
                         data-delay="1500"/>

                    <span class="ms-layer pi-link-dark" 
                          style="
                          left: 55px; 
                          top: 390px;" 
                          data-type="text" 
                          data-effect="left(short)" 
                          data-duration="500" 
                          data-hide-effect="fade" 
                          data-delay="1500">
                        Learn more
                    </span>

                    <a href="it-security-services-image-grid.html"></a>
                </div><!-- SECOND SLIDE END -->

                <!-- THIRD SLIDE 
                <div class="ms-slide" data-delay="6">
                    <img src="/images/ms/blank.gif" data-src="/images/testslide3.jpg" alt="ConsultingPress IT Security Consulting"/>

                    <h2 class="ms-layer pi-caption-02" 
                        style="
                        left: 0;
                        top:  210px;" 
                        data-type="text" 
                        data-effect="left(short)" 
                        data-duration="500" 
                        data-hide-effect="fade" 
                        data-delay="0">
                        You Take Care of Your Business 
                    </h2>

                    <h2 class="ms-layer pi-caption-02" 
                        style="
                        left: 0;
                        top:  260px;" 
                        data-type="text" 
                        data-effect="left(short)" 
                        data-duration="500" 
                        data-hide-effect="fade" 
                        data-delay="500">
                        We'll Take Care of Your IT Security
                    </h2>

                    <p class="ms-layer pi-text" 
                       style="
                       left: 0;
                       top:  330px;" 
                       data-type="text" 
                       data-effect="left(short)" 
                       data-duration="500" 
                       data-hide-effect="fade" 
                       data-delay="1000">
                        Get professional guidance from IT security experts.
                    </p>

                    <img class="ms-layer pi-link-arrow" src="/images/ms/blank.gif" data-src="/images/slider/circle-icon-blue.svg" alt="" 
                         style="
                         left: 0; 
                         top: 390px;" 
                         data-type="image" 
                         data-effect="left(short)" 
                         data-duration="500" 
                         data-hide-effect="fade" 
                         data-delay="1500"/>

                    <span class="ms-layer pi-link-dark" 
                          style="
                          left: 55px; 
                          top: 390px;" 
                          data-type="text" 
                          data-effect="left(short)" 
                          data-duration="500" 
                          data-hide-effect="fade" 
                          data-delay="1500">
                        Learn more
                    </span>

                    <a href="it-security-services-image-grid.html"></a>
                </div><!-- THIRD SLIDE END -->
            </div><!-- #masterslider end -->
        </div><!-- .master-slider-wrapper end -->