<div>
    <div class="title">
        <h3>Borealis IT</h3>
    </div>
    <!-- .title end -->
    <!-- .menu-quick-links-container start -->
    <div class="menu-quick-links-container">
        <ul id="menu-quick-links" class="menu">
            <li class="menu-item" ng-class="state.name == 'about' ? 'current-menu-item' : ''">
                <a ui-sref="about">About us</a>
            </li>
            <!--<li class="menu-item" ng-class="state.name == 'history' ? 'current-menu-item' : ''">
                <a ui-sref="history">Company history {{scope.state}}</a>
            </li>
            <li class="menu-item" ng-class="state.name == 'team' ? 'current-menu-item' : ''">
                <a href="it-security-our-team.html">Our team</a>
            </li>
            <li class="menu-item" ng-class="state.name == 'careers' ? 'current-menu-item' : ''">
                <a href="it-security-job-listing.html">Careers</a>
            </li>
            <li class="menu-item">
                <a href="it-security-services-image-grid.html">Our services</a>
            </li>
            <li class="menu-item">
                <a href="it-security-cases-grid.html">Case studies</a>
            </li>-->
        </ul>
        <!-- #menu-quick-links end -->
    </div>
    <!-- .menu-quick-links-container end -->
</div>
