<!-- Owl Carousel Container start -->
<div class="carousel-container">
    <div id="testimonial-carousel-03" class="owl-carousel">
        <!-- .owl-item start -->
        <div class="owl-item">
            <!-- .testimonial-style-02 start -->
            <div class="testimonial-style-02">
                <p>
                    "I always love when you upload something new. Your attention to detail, uniqueness and story driven design is a joy to explore. Every pixel is there for a reason, nothing is generic, and it all works great together. Truly an inspiration to look p to, and steal from :)"
                </p>

                <span class="author">
                    ColorByt,
                    <a href="http://www.pixel-industry.com">Web Designer</a>
                </span>
            </div>
            <!-- .testimonial-style-02 end -->
        </div>
        <!-- .owl-item end -->

        <!-- .owl-item start -->
        <div class="owl-item">
            <!-- .testimonial-style-02 start -->
            <div class="testimonial-style-02">
                <p>
                    "Really happy with the guidance you provided. Our employees are now more aware of their role in information security and management of IT is much efficient now."
                </p>

                <span class="author">
                    Vladimir Mrkela,
                    <a href="http://www.pixel-industry.com">PIXEL INDUSTRY Ltd.</a>
                </span>
            </div>
            <!-- .testimonial-style-02 end -->
        </div>
        <!-- .owl-item end -->

        <!-- .owl-item start -->
        <div class="owl-item">
            <!-- .testimonial-style-02 start -->
            <div class="testimonial-style-02">
                <p>
                    "Just wanted to thank Consulting Press for providing exceptional IT security consulting service to our company. Our IT security costs dropped significantly so we could focus more on our core business."
                </p>

                <span class="author">
                    Scott Rogers,
                    <a href="http://www.pixel-industry.com">Poleo Digital</a>
                </span>
            </div>
            <!-- .testimonial-style-02 end -->
        </div>
        <!-- .owl-item end -->
    </div>
    <!-- .owl-carousel end -->
</div>
<!-- Owl Carousel Container end -->
