<div class="page-title page-title-style-03">
    <div class="container">
        <div ncy-breadcrumb></div>
    </div>
</div>
<div class="page-content">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="row mb-30">
                    <div class="col-md-12">
                        <img src="images/about.jpg" alt="About Borealis IT">
                    </div>
                </div>
                <div class="row mb-80">
                    <div class="col-md-12">
                        <div class="custom-heading-01">
                            <span>company overview</span>
                            <h2>Borealis IT </h2>
                        </div>
                        <p>
                            We combine more than a decade worth of experience with IT Security, Identity &amp; Access Management and Web Technologies. Our experience has been gained working with many of the leading organisations in the world.
                        </p>
                        <p>
                            With a unique insight into several industry verticals and a strategic focus, we are able to combine business strategy with technology, targeting your existing pain points, while guiding your organisation towards the ideal technology path.
                        </p>
                    </div>
                </div>
                <div class="row mb-80">
                    <div class="col-md-12">
                        <div class="feature-box custom-background bkg-color-dark dark centered">
                            <h3>Our mission</h3>
                            <p>
                                To help our clients improve their IT capabilities while enabling seamless and secure user experiences.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-sm-6">
                        <div class="custom-heading-03">
                            <h3>Why are we different?</h3>
                        </div>
                        <ul class="fa-ul large-icons clearfix">
                            <li>
                                <i class="icon-container lynny-checkmark-2"></i>
                                <div class="li-content">
                                    <p>
                                        Highly-skilled and cross-disciplinary team with more than 15 years of experience
                                    </p>
                                </div>
                            </li>
                            <li>
                                <i class="icon-container lynny-checkmark-2"></i>
                                <div class="li-content">
                                    <p>
                                        Bespoke service designed to fit your situation
                                    </p>
                                </div>
                            </li>
                            <li>
                                <i class="icon-container lynny-checkmark-2"></i>
                                <div class="li-content">
                                    <p>
                                        Vendor independant meaning our clients will always get objective advice
                                    </p>
                                </div>
                            </li>
                            <li>
                                <i class="icon-container lynny-checkmark-2"></i>
                                <div class="li-content">
                                    <p>
                                        We have limits - and we know them
                                    </p>
                                </div>
                            </li>
                            <li>
                                <i class="icon-container lynny-checkmark-2"></i>
                                <div class="li-content">
                                    <p>
                                        We focus on your success, not billable hours
                                    </p>
                                </div>
                            </li>
                            <li>
                                <i class="icon-container lynny-checkmark-2"></i>
                                <div class="li-content">
                                    <p>
                                        We deliver and keep promises
                                    </p>
                                </div>
                            </li>
                        </ul>
                        <a ui-sref="services" class="read-more">Explore our services</a>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <div class="image-reveal triggerAnimation animated" data-animate="fadeInUp">
                            <img src="images/about2.jpg" alt="Why are we different?">
                            <div class="image-reveal-mask triggerAnimation" data-animate="imageReveal"></div>
                        </div>
                    </div>
                </div>
            </div>
            <aside class="col-md-4 aside-right">
                <ul class="aside-widgets">
                    <li class="widget widget_nav_menu clearfix">
                        <sidenav></sidenav>
                    </li>
                    <li class="widget">
                        <!-- <div class="title">
                            <h3>Brochure download</h3>
                        </div>
                        <div class="textwidget">
                            <p>
                                <a href="ConsultingPress-Multiniche-Consulting-Theme.pdf" class="download-link">Consulting Press 2016 EN</a>
                                <a href="ConsultingPress-Multiniche-Consulting-Theme.pdf" class="download-link">Consulting Press 2016 DE</a>
                            </p>
                        </div>-->
                    </li>
                    <!--
                    <li class="widget">
                        <div class="feature-box custom-background bkg-color-dark dark">
                            <div class="icon-container">
                                <i class="lynny-pages-1"></i>
                            </div>
                            <div class="text-container">
                                <h3>Request a quote</h3>
                                <p>
                                    Get expert guidance for better advancing your IT environment
                                </p>
                                <a href="it-security-contact-simple.html" class="read-more">
                                            Contact us
                                        </a>
                            </div>
                        </div>
                    </li>-->
                    <!--
                    <li class="widget">
                        <div class="title">
                            <h3>What our clients say</h3>
                        </div>
                        <testimonial></testimonial>
                    </li>-->
                </ul>
            </aside>
        </div>
    </div>
</div>
