<div class="page-title page-title-style-03">
    <!-- .container start -->
    <div class="container">
        
        <div ncy-breadcrumb></div>
            
    </div>
    <!-- .container end -->
</div>
<!-- .page-title-style-03 end -->

<!-- .page-conent start -->
<div class="page-content">

    <!-- .container start -->
    <div class="container">

        <!-- .row start -->
        <div class="row">

            <!-- .col-md-8 start -->
            <div class="col-md-8">

                <!-- .row start -->
                <div class="row mb-30">
                    <!-- .col-md-12 start -->
                    <div class="col-md-12">
                        <img src="images/about.jpg" alt="About Borealis IT">
                    </div>
                    <!-- .col-md-12 end -->
                </div>
                <!-- .row end -->

                <!-- .row start -->
                <div class="row mb-80">
                    <!-- .col-md-12 start -->
                    <div class="col-md-12">
                        <!-- .custom-heading-01 start -->
                        <div class="custom-heading-01">
                            <span>company overview</span>
                            <h2>Borealis IT </h2>
                        </div>
                        <!-- .custom-heading-01 end -->

                        <p>
                            We combine more than a decades worth of experience with IT Security, Identity & Access Management and Web Techonologies. Our experience has been gained working with many of the leading organisations in the world.
                        </p>

                        <p>
                            With unique knowledge of several industry verticals and a strategic focus, we are able to combine business strategy with tecnology, targeting your existing pain points, while guiding your organisation towards the ideal techonology path.
                        </p>

                        

                        
                    </div>
                    <!-- .col-md-12 end -->
                </div>
                <!-- .row end -->

                <!-- .row start -->
                <div class="row mb-80">
                    <!-- .col-md-12 start -->
                    <div class="col-md-12">
                        <div class="feature-box custom-background bkg-color-dark dark centered">
                            <h3>Our mission</h3>
                            <p>
                                Helping our client in advancing their IT capabilities while enableling secure and seamless access regardless of location or device.
                            </p>
                        </div>
                        <!-- .feature-box end -->
                    </div>
                    <!-- .col-md-12 end -->
                </div>
                <!-- .row end -->

                <!-- .row start -->
                <div class="row">
                    <!-- .col-md-6 start -->
                    <div class="col-md-6 col-sm-6">
                        <div class="custom-heading-03">
                            <h3>Why are we different?</h3>
                        </div>

                        <ul class="fa-ul large-icons clearfix">

                            <li>
                                <i class="icon-container lynny-checkmark-2"></i>

                                <div class="li-content">
                                    <p>
                                        Highly-skilled and cross-disciplinary team with more than 15 years of experience
                                    </p>
                                </div>
                            </li>

                            <li>
                                <i class="icon-container lynny-checkmark-2"></i>

                                <div class="li-content">
                                    <p>
                                        Bespoke service designed to fit your situation
                                    </p>
                                </div>
                            </li>

                            <li>
                                <i class="icon-container lynny-checkmark-2"></i>

                                <div class="li-content">
                                    <p>
                                        Vendor independant meaning our clients to always get the best advice for them
                                    </p>
                                </div>
                            </li>

                            <li>
                                <i class="icon-container lynny-checkmark-2"></i>

                                <div class="li-content">
                                    <p>
                                        We have limits - and we know them

                                    </p>
                                </div>
                            </li>

                            <li>
                                <i class="icon-container lynny-checkmark-2"></i>

                                <div class="li-content">
                                    <p>
                                        We focus on your success, not billable hours
                                    </p>
                                </div>
                            </li>

                            <li>
                                <i class="icon-container lynny-checkmark-2"></i>

                                <div class="li-content">
                                    <p>
                                        We deliver and keep promises
                                    </p>
                                </div>
                            </li>
                        </ul>
                        <!-- .fa-ul.large-icons end -->

                        <a href="it-security-services-image-grid.html" class="read-more">
                                    Explore our services
                                </a>
                        <!-- .read-more end -->
                    </div>
                    <!-- .col-md-6 end -->

                    <!-- .col-md-6 start -->
                    <div class="col-md-6 col-sm-6">
                        <div class="image-reveal triggerAnimation animated" data-animate="fadeInUp">
                            <img src="images/about2.jpg" alt="Why are we different?">
                            <div class="image-reveal-mask triggerAnimation" data-animate="imageReveal"></div>
                        </div>
                        <!-- .imageReveal end -->
                    </div>
                    <!-- .col-md-6 end -->
                </div>
                <!-- .row end -->
            </div>
            <!-- .col-md-8 end -->

            <aside class="col-md-4 aside-right">

                <!-- .aside-widgets start -->
                <ul class="aside-widgets">
                    <li class="widget widget_nav_menu clearfix">
                        <sidenav></sidenav>
                    </li>
                    <!-- .widget_nav_menu end -->

                    <li class="widget">
                        <div class="title">
                            <h3>Brochure download</h3>
                        </div>

                        <div class="textwidget">
                            <p>
                                <a href="ConsultingPress-Multiniche-Consulting-Theme.pdf" class="download-link">Consulting Press 2016 EN</a>
                                <a href="ConsultingPress-Multiniche-Consulting-Theme.pdf" class="download-link">Consulting Press 2016 DE</a>
                            </p>
                        </div>
                        <!-- .textwidget end -->
                    </li>
                    <!-- .widget end -->

                    <li class="widget">
                        <div class="feature-box custom-background bkg-color-dark dark">
                            <div class="icon-container">
                                <i class="lynny-pages-1"></i>
                            </div>
                            <!-- .icon-container end -->

                            <div class="text-container">
                                <h3>Request a quote</h3>
                                <p>
                                    Get expert guidance for better advancing your IT environment
                                </p>

                                <a href="it-security-contact-simple.html" class="read-more">
                                            Contact us
                                        </a>
                                <!-- .read-more end -->
                            </div>
                            <!-- .text-container end -->
                        </div>
                        <!-- .feature-box end -->
                    </li>
                    <!-- .widget end -->

                    <li class="widget">
                        <div class="title">
                            <h3>What our clients say</h3>
                        </div>

                        <testimonial></testimonial>
                    </li>
                    <!-- .widget end -->
                </ul>
                <!-- .aside-widgets -->
            </aside>
            <!-- aside.col-md-4 end -->
        </div>
        <!-- .row end -->
    </div>
    <!-- .container end -->
</div>
<!-- .page-content end -->
