<div class="page-title page-title-style-03">
    <!-- .container start -->
    <div class="container">
        <div ncy-breadcrumb></div>
        </div>
        <!-- .row end -->
    </div>
    <!-- .container end -->
</div>
<!-- .page-title-style-03 end -->
<!-- .page-conent start -->
<div class="page-content">
    <!-- .container start -->
    <div class="container">
        <!-- .row start -->
        <div class="row">
            <!-- .col-md-6 start -->
            <!--<div class="col-md-6">
                
                <div class="custom-heading-03">
                    <h3>Contact us</h3>
                </div>
                <form class="wpcf7 wpcf7-contact-us clearfix">
                    <input type="text" class="wpcf7-text" id="contact-name" placeholder="Name (required)">
                    <input type="email" class="wpcf7-email" id="contact-email" placeholder="Email (required)">
                    <input type="text" class="wpcf7-text" id="contact-phone" placeholder="Phone ">
                    <input type="text" class="wpcf7-text" id="contact-subject" placeholder="Subject (required)">
                    <textarea rows="8" class="wpcf7-textarea" id="contact-message" placeholder="Message (required)"></textarea>
                    <div class="g-recaptcha" data-sitekey="6Ld4VykTAAAAAM_qltIuTg7I0hpcdHjX7j68qpRz"></div>
                    <input type="submit" value="submit" class="wpcf7-submit">
                </form>
            </div>-->
            <!-- .col-md-6 end -->
            <!-- .col-md-6 start -->
            <div class="col-md-12">
                <!--<div id="map" class="map-height-small"></div>-->
                <!-- .custom-heading03 start -->
                <div class="custom-heading-03">
                    <h3>Company info</h3>
                </div>
                <!-- .custom-heading-03 end -->
                <ul class="fa-ul default">
                    <li>
                        <i class="lynny-phone-1"></i>
                        <p>
                            +44 203 868 9851
                        </p>
                    </li>
                    <li>
                        <i class="lynny-mail-duplicate"></i>
                        <p>
                            <a href="mailto:info@borealis-it.com">info@borealis-it.com</a>
                        </p>
                    </li>
                    <li>
                        <i class="lynny-home"></i>
                        <p>
                            Borealis IT
                            <br /> 2 Sheraton Street
                            <br /> London, W1F 8BH
                        </p>
                    </li>
                </ul>
                <!-- .fa-ul.default end -->
            </div>
            <!-- .col-md-6 end -->
        </div>
        <!-- .row end -->
    </div>
    <!-- .container end -->
</div>
<!-- .page-content end -->
