        <!-- #footer-wrapper start -->
        <div id="footer-wrapper">

            <!-- #footer start -->
            <footer id="footer">
                <div class="container">

                    <!-- .row start -->
                    <div class="row">

                        <!-- .footer-widget-container start -->
                        <ul class="footer-widget-container col-md-12">

                            <!-- .widget.widget_newsletterwidget start -->
                            <li class="widget widget_newsletterwidget">

                                <!-- .newsletter.newsletter-widget start -->
                                <div class="newsletter newsletter-widget">
                                    <form>
                                        <input class="email" type="email" placeholder="Subscribe to our newsletter...">
                                        <input type="submit" class="submit" value="subscribe">
                                    </form>
                                </div><!-- .newsletter.newsletter-widget end -->
                            </li><!-- .widget.widget_newsletterwidget end -->
                        </ul><!-- .footer-widget-container end -->
                    </div><!-- .row end -->

                    <!-- .row start -->
                    <div class="row">

                        <!-- .footer-widget-container start -->
                        <ul class="footer-widget-container col-md-3 col-sm-6">

                            <!-- .widget.widget-text start -->
                            <li class="widget widget-text">
                                <a href="it-security-index.html">
                                    <img src="images/svg/consultingpress-logo-light-blue.svg" alt="ConsultingPress IT Security Consulting Template"/>
                                </a>
                            </li><!-- .widget.widget-text end -->
                        </ul><!-- .footer-widget-container end -->

                        <!-- .footer-widget-container start -->
                        <ul class="footer-widget-container col-md-3 col-sm-6">

                            <!-- .widget.widget-pages start -->
                            <li class="widget widget-pages">
                                <div class="title">
                                    <h3>About</h3>
                                </div><!-- .title end -->

                                <ul>
                                    <li>
                                        <a href="it-security-about.html">About Consulting Press</a>
                                    </li>

                                    <li>
                                        <a href="it-security-our-team.html">Our Team</a>
                                    </li>

                                    <li>
                                        <a href="it-security-partners.html">Business Partners</a>
                                    </li>

                                    <li>
                                        <a href="it-security-contact-multilocation.html">Global Coverage</a>
                                    </li>

                                    <li>
                                        <a href="it-security-contact-compact.html">Contact</a>
                                    </li>
                                </ul>

                            </li><!-- .widget.widget-pages end -->
                        </ul><!-- .footer-widget-container end -->

                        <!-- .footer-widget-container start -->
                        <ul class="footer-widget-container col-md-3 col-sm-6">
                            <li class="widget widget-text">
                                <div class="title">
                                    <h3>Latest News</h3>
                                </div>

                                <!-- Latest posts element start -->
                                <ul class="pi-latest-posts-02">
                                    <li class="post-container clearfix">
                                        <div class="post-media">
                                            <a href="it-security-news-single.html">
                                                <img src="images/blog/consultingpress-increase-company-value-by-investing-in-people.jpg" alt="ConsultingPress IT Security Consulting"/>
                                            </a>
                                        </div><!-- .post-media end -->

                                        <div class="post-body">
                                            <span class="date">25 jul, 2016</span>
                                            <a href="it-security-news-single.html">
                                                <h4>Increase company value by investing in people</h4>
                                            </a>
                                        </div><!-- .post-body end -->
                                    </li>

                                    <li class="post-container clearfix">
                                        <div class="post-media">
                                            <a href="it-security-news-single-consultingpress-quality-over-quantity.html">
                                                <img src="images/blog/consultingpress-delivering-quality-over-quantity.jpg" alt="ConsultingPress IT Security Consulting"/>
                                            </a>
                                        </div><!-- .post-media end -->

                                        <div class="post-body">
                                            <span class="date">25 jul, 2016</span>
                                            <a href="it-security-news-single-consultingpress-quality-over-quantity.html">
                                                <h4>ConsultingPress Delivering Quality Over Quantity</h4>
                                            </a>
                                        </div><!-- .post-body end -->
                                    </li>
                                </ul><!-- .pi-latest-posts-02 end -->
                            </li>
                        </ul><!-- .footer-widget-container end -->

                        <!-- .footer-widget-container start -->
                        <ul class="footer-widget-container col-md-3 col-sm-6">
                            <li class="widget contact-info">
                                <div class="title">
                                    <h3>Contact</h3>
                                </div>

                                <ul class="contact-info-list clearfix">
                                    <li>
                                        <i class="lynny-home"></i>
                                        Consulting Press<br />
                                        7791 Woodland Avenue<br />
                                        10 000 Zagreb, Croatia<br />
                                    </li>

                                    <li>
                                        <i class="lynny-phone-1"></i>
                                        +00 385 01 258 7856
                                    </li>

                                    <li>
                                        <i class="lynny-mail-duplicate"></i>
                                        <a href="mailto:info@consultingpress.com">info@consultingpress.com</a>
                                    </li>
                                </ul><!-- .contact-info-list end -->
                            </li><!-- .widget.contact-info end -->
                        </ul><!-- .footer-widget-container end -->
                    </div><!-- .row end -->
                </div><!-- .container end -->
            </footer><!-- #footer end -->

            <!-- #copyright-container start -->
            <div id="copyright-container" class="copyright-container">
                <!-- .container start -->
                <div class="container">
                    <!-- .row start -->
                    <div class="row">
                        <!-- .col-md-6 start -->
                        <div class="col-md-6 col-sm-6">
                            <p>
                                Copyright © 2016 Consulting Press
                            </p>
                        </div><!-- .col-md-6 end -->

                        <!-- .col-md-6 start -->
                        <div class="col-md-6 col-sm-6 copyright-right">
                            <p>
                                Design and development by <a href="http://www.pixel-industry.com">Pixel Industry</a>
                            </p>
                        </div><!-- .col-md-6 end -->
                    </div><!-- .row end -->
                </div><!-- .container end -->
            </div><!-- #copyright-container end -->

            <a href="#" class="scroll-up">
                <i class="fa fa-chevron-up"></i>
            </a>
        </div><!-- #footer-wrapper end -->