<masterslider></masterslider>
<div class="page-content custom-background dark padding-small bkg-color-dark">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="call-to-action clearfix">
                    <div class="text">
                        <h4>We are currently updating our website content.</h4>
                    </div>
                    <!--<a href="it-security-contact-compact.html" class="btn icon-animated">
                        <span>
                            <i class="lynny-page-1"></i> request a quote
                        </span>
                    </a>-->
                </div>
            </div>
        </div>
    </div>
</div>
<!--
<div class="page-content custom-background bkg-color-light-grey mb-120">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="custom-heading-02">
                    <h2>Your Pathway to IT Services</h2>
                    <span>explore what we can do for your company</span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="service-box service-box-02">
                    <div class="icon-container">
                        <i class="lynny-user-group-2"></i>
                    </div>
                    <div class="text-container">
                        <a href="it-security-services-subcategory.html">
                            <h3>Identity & Access Management</h3>
                        </a>
                        <p>
                            Our comprehensive IAM expertise ensures success in your initiatives and maximises ROI.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="service-box service-box-02">
                    <div class="icon-container">
                        <i class="lynny-lock"></i>
                    </div>
                    <div class="text-container">
                        <a href="it-security-services-single.html">
                            <h3>Cloud Security</h3>
                        </a>
                        <p>
                            Intelligent threat and vulnerability services including penetration testing and software security.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="service-box service-box-02">
                    <div class="icon-container">
                        <i class="lynny-cloud-1"></i>
                    </div>
                    <div class="text-container">
                        <a href="it-security-services-architecture.html">
                            <h3>Cloud Management</h3>
                        </a>
                        <p>
                            Building strong foundations for IT security implementation, management and control.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="service-box service-box-02">
                    <div class="icon-container">
                        <i class="lynny-page-1"></i>
                    </div>
                    <div class="text-container">
                        <a href="it-security-services-security-risk.html">
                            <h3>Security Risk & Compliance</h3>
                        </a>
                        <p>
                            Providing guidance in detecting risks and developing compliance strategies.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="service-box service-box-02">
                    <div class="icon-container">
                        <i class="lynny-shield"></i>
                    </div>
                    <div class="text-container">
                        <a href="it-security-services-security-incident.html">
                            <h3>Security Incident Management</h3>
                        </a>
                        <p>
                            Providing detailed procedures for dealing and mitigating security incidents.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="service-box service-box-02">
                    <div class="icon-container">
                        <i class="lynny-lightning"></i>
                    </div>
                    <div class="text-container">
                        <a href="it-security-services-security.html">
                            <h3>Next-Gen Software Development</h3>
                        </a>
                        <p>
                            Improving security by educating employees and partners about the value of IT security.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
-->
<!--
<div class="page-content">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="custom-heading-02">
                    <h2>Reduce Your IT Security Costs</h2>
                    <span>using our professional services</span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="chart-container chart-center" data-width="350" data-height="350">
                    <canvas class="pieChart" width="300" height="300"></canvas>
                </div>
            </div>
            <div class="col-md-6">
                <p>
                    Consulting Press is a leading IT security consulting company with over 20 years of experience in IT security.
                </p>
                <p>
                    Our IT security consultants will help you in decreasing your security costs and enhancing your business IT security by focusing on key IT security areas, such as:
                </p>
                <ul class="fa-ul large-icons clearfix">
                    <li>
                        <i class="icon-container lynny-checkmark-2"></i>
                        <div class="li-content">
                            <p>Data protection</p>
                        </div>
                    </li>
                    <li>
                        <i class="icon-container lynny-checkmark-2"></i>
                        <div class="li-content">
                            <p>Risk management</p>
                        </div>
                    </li>
                    <li>
                        <i class="icon-container lynny-checkmark-2"></i>
                        <div class="li-content">
                            <p>Incident planning & response</p>
                        </div>
                    </li>
                    <li>
                        <i class="icon-container lynny-checkmark-2"></i>
                        <div class="li-content">
                            <p>Threat intelligence</p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="page-content custom-background bkg-img03 dark">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="custom-heading-01">
                    <span>why choose us</span>
                    <h2>Top Reasons to Choose Us</h2>
                </div>
                <div class="accordion clearfix">
                    <div class="title active">
                        <a href="#" class="clearfix">
                                    Improved security and reduced costs
                                </a>
                    </div>
                    <div class="content clearfix">
                        <p>
                            Our expert IT security consultants will analyze your business environment and make custom procedures and measures for mitigating IT threats and vulnerabilities.
                        </p>
                    </div>
                    <div class="title">
                        <a href="#" class="clearfix">
                                    Reducing potential threat impact
                                </a>
                    </div>
                    <div class="content clearfix">
                        <p>
                            With smart IT security design and implementation you are able to address potential threats and secure your most valuable IT assets and thus reduce it's impact.
                        </p>
                    </div>
                    <div class="title">
                        <a href='#' class="clearfix">
                                    Increased efficiency with ConsultingPress
                                </a>
                    </div>
                    <div class="content clearfix">
                        <p>
                            You take care of your business, we will take care of your IT Security. Increase your efficiency by investing in ConsultingPress IT Security solutions.
                        </p>
                    </div>
                    <div class="title">
                        <a href='#' class='clearfix'>
                                    Improved compliance
                                </a>
                    </div>
                    <div class="content clearfix">
                        <p>
                            You take care of your business, we will take care of your IT Security. Increase your efficiency by investing in ConsultingPress IT Security solutions.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 empty"></div>
        </div>
    </div>
</div>
<div class="page-content custom-background bkg-color-light-grey padding-small mb-120">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="call-to-action clearfix">
                    <div class="text">
                        <h4>Securing your most valuable business assets with smaller costs.</h4>
                    </div>
                    <a href="it-security-cases-grid.html" class="btn icon-animated">
                        <span>
                            <i class="lynny-page-1"></i> view our case studies
                        </span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="page-content">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="carousel-container">
                    <div id="testimonial-carousel-02" class="owl-carousel">
                        <div class="owl-item">
                            <div class="testimonial-style-02">
                                <p>
                                    "I always love when you upload something new. Your attention to detail, uniqueness and story driven design is a joy to explore. Every pixel is there for a reason, nothing is generic, and it all works great together. Truly an inspiration to look p to, and steal from :)"
                                </p>
                                <span class="author">
                                    ColorByt,
                                    <a href='http://www.pixel-industry.com'>Web Designer</a>
                                </span>
                            </div>
                        </div>
                        <div class="owl-item">
                            <div class="testimonial-style-02">
                                <p>
                                    "Really happy with the guidance you provided. Our employees are now more aware of their role in information security and management of IT is much efficient now."
                                </p>
                                <span class="author">
                                    Vladimir Mrkela,
                                    <a href='http://www.pixel-industry.com'>PIXEL INDUSTRY Ltd.</a>
                                </span>
                            </div>
                        </div>
                        <div class="owl-item">
                            <div class="testimonial-style-02">
                                <p>
                                    "Just wanted to thank Consulting Press for providing exceptional IT security consulting service to our company. Our IT security costs dropped significantly so we could focus more on our core business."
                                </p>
                                <span class="author">
                                    Scott Rogers,
                                    <a href='http://www.pixel-industry.com'>Poleo Digital</a>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="page-content custom-background bkg-img04">
    <div class="container">
        <div class="row custom-background bkg-color-white">
            <div class="col-md-6 triggerAnimation animated" data-animate="fadeInLeft">
                <div class="custom-heading-01">
                    <span>request a quote</span>
                    <h2>Let Our Specialist Consultants give you a call</h2>
                </div>
            </div>
            <div class="col-md-6 triggerAnimation animated" data-animate="fadeInLeft">
                <form class="wpcf7 wpcf7-request-quote clearfix">
                    <input type="text" class="wpcf7-text" id="quote-name" placeholder="First Name">
                    <input type="text" class="wpcf7-text" id="quote-last-name" placeholder="Last Name">
                    <input type="text" class="wpcf7-text" id="quote-phone" placeholder="Phone">
                    <input type="email" class="wpcf7-email" id="quote-email" placeholder="Email">
                    <div class="g-recaptcha" data-sitekey="6Ld4VykTAAAAAM_qltIuTg7I0hpcdHjX7j68qpRz"></div>
                    <input type="submit" value="submit" class="wpcf7-submit wpcf7-submit-full">
                </form>
            </div>
        </div>
    </div>
</div>
<div class="page-content custom-background bkg-color-dark padding-small">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="carousel-container">
                    <div id="client-carousel" class="owl-carousel">
                        <div class="owl-item">
                            <img src="images/pics/consultingpress-clients-logo01.png" alt="ConsultingPress Partner Logo 01" />
                        </div>
                        <div class="owl-item">
                            <img src="images/pics/consultingpress-clients-logo02.png" alt="ConsultingPress Partner Logo 02" />
                        </div>
                        <div class="owl-item">
                            <img src="images/pics/consultingpress-clients-logo03.png" alt="ConsultingPress Partner Logo 03" />
                        </div>
                        <div class="owl-item">
                            <img src="images/pics/consultingpress-clients-logo04.png" alt="ConsultingPress Partner Logo 04" />
                        </div>
                        <div class="owl-item">
                            <img src="images/pics/consultingpress-clients-logo05.png" alt="ConsultingPress Partner Logo 05" />
                        </div>
                        <div class="owl-item">
                            <img src="images/pics/consultingpress-clients-logo06.png" alt="ConsultingPress Partner Logo 06" />
                        </div>
                        <div class="owl-item">
                            <img src="images/pics/consultingpress-clients-logo07.png" alt="ConsultingPress Partner Logo 07" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
-->
