<div class="page-title page-title-style-03">
    <!-- .container start -->
    <div class="container">
        
        <div ncy-breadcrumb></div>
            
    </div>
    <!-- .container end -->
</div>
<!-- .page-title-style-03 end -->

<!-- .page-conent start -->
<div class="page-content">

    <!-- .container start -->
    <div class="container">

        <!-- .row start -->
        <div class="row">

            <!-- .col-md-8 start -->
            <div class="col-md-8">

                <!-- .row start -->
                <div class="row mb-30">
                    <!-- .col-md-12 start -->
                    <div class="col-md-12">
                        <img src="images/about.jpg" alt="About Borealis IT">
                    </div>
                    <!-- .col-md-12 end -->
                </div>
                <!-- .row end -->

                <!-- .row start -->
                <div class="row mb-80">
                    <!-- .col-md-12 start -->
                    <div class="col-md-12">
                        <!-- .custom-heading-01 start -->
                        <div class="custom-heading-01">
                            <span>site is being updated</span>
                            <h2>Work in progress</h2>
                        </div>
                        <!-- .custom-heading-01 end -->

                        <p>
                            We are currently updating our content, please check back later. We apologise for any inconvinience.
                        </p>


                        

                        
                    </div>
                    <!-- .col-md-12 end -->
                </div>
                <!-- .row end -->

                <!-- .row start -->
                

                <!-- .row start -->
        
                <!-- .row end -->
            </div>
            <!-- .col-md-8 end -->

            <aside class="col-md-4 aside-right">

                <!-- .aside-widgets start -->
                <ul class="aside-widgets">
                    <li class="widget widget_nav_menu clearfix">
                        <sidenav></sidenav>
                    </li>
                    <!-- .widget_nav_menu end -->

                    <li class="widget">
                       <!-- <div class="title">
                            <h3>Brochure download</h3>
                        </div>

                        <div class="textwidget">
                            <p>
                                <a href="ConsultingPress-Multiniche-Consulting-Theme.pdf" class="download-link">Consulting Press 2016 EN</a>
                                <a href="ConsultingPress-Multiniche-Consulting-Theme.pdf" class="download-link">Consulting Press 2016 DE</a>
                            </p>
                        </div>-->
                        <!-- .textwidget end -->
                    </li>
                    <!-- .widget end -->
<!--
                    <li class="widget">
                        <div class="feature-box custom-background bkg-color-dark dark">
                            <div class="icon-container">
                                <i class="lynny-pages-1"></i>
                            </div>
                            

                            <div class="text-container">
                                <h3>Request a quote</h3>
                                <p>
                                    Get expert guidance for better advancing your IT environment
                                </p>

                                <a href="it-security-contact-simple.html" class="read-more">
                                            Contact us
                                        </a>
                                
                            </div>
                            
                        </div>
                        
                    </li>-->
                    <!-- .widget end -->
<!--
                    <li class="widget">
                        <div class="title">
                            <h3>What our clients say</h3>
                        </div>

                        <testimonial></testimonial>
                    </li>-->
                    <!-- .widget end -->
                </ul>
                <!-- .aside-widgets -->
            </aside>
            <!-- aside.col-md-4 end -->
        </div>
        <!-- .row end -->
    </div>
    <!-- .container end -->
</div>
<!-- .page-content end -->
